{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}


<div class="header pb-6 d-flex align-items-center" >
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8" style="background: radial-gradient(circle, #395820 0, #1b2e0f 100%) !important"></span>
  <!-- Header container -->
  
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-xl-12">
        <br><br>
        <h1 class="display-2 text-white"> 
          Demand
        </h1>
        <p class="text-white mt-0 mb-5">List with all demands from user.</p>
      </div>
    </div>
  </div>
</div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6" style="background: #9bbf7f !important;">
    <div class="row">
      <div class="col">
        <div class="card">
          <br>
          <div class="text-right" style="margin-right: 5%;">
            <a href="{% url 'create_demand' %}" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
          <br>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Item name</th>
                  <th scope="col" class="sort" data-sort="budget">Budget</th>
                  <th scope="col" class="sort" data-sort="status">Status</th>
                  <th scope="col">Users</th>
                  <th scope="col" class="sort" data-sort="completion">Unit price</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for demand in demand_list %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ demand.item }}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    R$ 2500,00
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{ demand.get_status_display }}</span>
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img alt="Image placeholder" src="/static/assets/img/theme/team-1.jpg">
                      </a>
                      <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                        <img alt="Image placeholder" src="/static/assets/img/theme/team-2.jpg">
                      </a>
                      <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                        <img alt="Image placeholder" src="/static/assets/img/theme/team-3.jpg">
                      </a>
                      <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                        <img alt="Image placeholder" src="/static/assets/img/theme/team-4.jpg">
                      </a>
                    </div>
                  </td>
                  <td>
                    R$ {{ demand.unit_price|floatformat:2 }}
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{% url 'update_demand' demand.id %}">Edit</a>
                        <a class="dropdown-item status-demand" href="#" value="{{ demand.id }}" data-status="{{demand.status}}">{% if demand.status == 'o' %}Close{% else %}Open{% endif %} demand</a>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              {% if demand_list.has_other_pages %}
              <ul class="pagination justify-content-end mb-0">
                  <li class="page-item {% if not demand_list.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="{% if demand_list.has_previous %} ?page={{ demand_list.previous_page_number }} {% else %} # {% endif %}" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% for page in demand_list.paginator.page_range %}
                  {% if maquinas.number == pagina %}
                  <li class="page-item active">
                    <a class="page-link" href="#">{{page}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  <li class="page-item {% if not demand_list.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if demand_list.has_next %} ?page={{ demand_list.next_page_number }} {% else %} # {% endif %}">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
  $('.status-demand').click(function(){
    var status = $(this).attr('data-status');
    if(status == 'o'){
      status = 'c';
    }else{
      status = 'o';
    }
    var baseUrl = "{% url 'update_demand_status' 111 %}";
    baseUrl = baseUrl.replace("111", $(this).attr('value'));
      $.ajax({
               type: "PUT",
               url: baseUrl,
               headers:{'X-CSRFToken':'{{csrf_token}}'},
               data: JSON.stringify({
                        'status': status
                      }),
               dataType: "json",
               success: function(response) {
                location.reload();
                }
  
          });
  
    })
  </script>

{% endblock javascripts %}
