{% extends 'layouts/base.html' %}

{% block title %} Create Address {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" >
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8" style="background: radial-gradient(circle, #395820 0, #1b2e0f 100%) !important"></span>
  <!-- Header container -->
  
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-xl-12">
        <br><br>
        <h1 class="display-2 text-white"> 
            Address
        </h1>
        <p class="text-white mt-0 mb-5">Please fill the informations to create new address.</p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6" style="background: #9bbf7f !important;">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Create Address </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
          {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">Information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-street">Street</label>
                    {{ form.street }}
                  </div>
                  <span class="text-error">{{ form.street.errors }}</span>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-district">District</label>
                    {{ form.district }}
                  </div>
                  <span class="text-error">{{ form.district.errors }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-number">Number</label>
                    {{ form.number }}
                  </div>
                  <span class="text-error">{{ form.number.errors }}</span>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-complement">Complement</label>
                    {{ form.complement }}
                  </div>
                  <span class="text-error">{{ form.complement.errors }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-zip_code">Zip Code</label>
                    {{ form.zip_code }}
                  </div>
                  <span class="text-error">{{ form.zip_code.errors }}</span>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    {{ form.city }}
                  </div>
                  <span class="text-error">{{ form.city.errors }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-state">State</label>
                    {{ form.state }}
                  </div>
                  <span class="text-error">{{ form.state.errors }}</span>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    {{ form.country }}
                  </div>
                  <span class="text-error">{{ form.country.errors }}</span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">{{ method }} address</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
